body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-background {
    background-image: linear-gradient(to right, #0f0c29, #403b73, #24243e);
}

.main-content-container {
    padding: 2rem;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    border-image-slice: 0 1 0 1;
    border-image-width: 30px 20px;
}

.main-header {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header h1 {
    color: white;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 400;
}

.main-header p {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.icons-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 10rem;
    border-radius: 1rem;
    margin: 1rem 2rem;
}


footer {
    padding: 30px;
    color: white;
    background-color: black;
    font-size: 1rem;
    text-align: center;
}